///////////////////////////////////////
//FOOTER
.map {
    background-image: url(../../public/image/map.svg);
    background-position: center;
    max-width: 1920px;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer_list li {
    background: transparent;
    color: var(--color-white);
}
.menu_footer_list li:not(:last-child) {
    border-left: 1px solid #fff;
}
